$baseColor: #000;
$bgColor: #FFC63C;
$bgColorBody: #eee;
$bgColorMain: #fff;
$navColor: #041B87;
$footerColor: #041B87;
$hColor: #041B87;
$bgColorInputLogin: #faffbd;
$articleColorSender: #bbb;
$headerFont: 'Libre Baskerville', serif;
$baseFont: 'Raleway', sans-serif;