@import "variables";

body {
    background: $bgColorBody;
    font-family: $baseFont;
}

h1 {
    text-align: center;
}


header {
    background: $bgColor;
    padding: 20px; 
    
    img {
        width: 100%;
        height: auto;
    }
    
    ul {
        display: block;
        display: flex;
        padding: 0;
        margin: 20px 0px 20px 10%;

        li {
            display: inline;
            flex-basis: 10%;
            
            a {
                color: $navColor; 
                font-weight: bold;

                &:hover {
                    color: lighten($navColor, 15%);
                    text-decoration: underline;
                }
            }
        }
    }
    
    .login-register {
            padding: 10px;
        }
    
    .userLogin {
        background-color: black;
    }



    .inputLogin {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: $bgColorInputLogin;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
           -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
              transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .col-pad {
        padding-left: 5px;
        padding-right: 5px;
    }
}


/* MAIN START */
main {
    margin: 25px auto;
    width: 80%;
    padding: 20px;
    background: $bgColorMain;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1400px;
    
    a {
        width: 23%; 
        margin: 5px 0px;
        color: $baseColor;
        opacity: .7;
        transition: opacity .5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -webkit-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out;
        
        &:hover {
            text-decoration: none;
            color: $baseColor;
            box-shadow: 1px 1px 5px 5px #eee;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
              transition: all 1s ease;
            opacity: 1;
        }
        
        .articleBox {            
            padding: 30px;
            color: #fff;            
            text-align: center;   
            border-radius: 10px;
            font-weight: bold;
            
            .fa {
                font-size: 2.5em;
            }
        }
        
        
        
        .box1 {
            background: #d7944d;
        }
        
        .box2 {
            background: #77d1ef;
        }

        .box3 {
            background: #4d8ea3;
        }
        
        .box4 {
            background: #ffa84d;
        }

        article {
            padding: 10px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
/* MAIN END */
    

footer {
    padding: 25px;
    background: $bgColor;
    color: $footerColor;
    font-weight: bold;
    
    .row-footer {
        margin: 0 auto;
        width: 80%;
        
        .col-center {
            text-align: center;
            border-right: 1px solid #041B87;
        }

    }
    
    img {
        width: 8%;
    }
}

@media screen and (min-width: 320px) {
    body {
        background-color: lightgreen;
    }    
    
    header {
        background: $bgColor;
        padding: 20px; 

        img {
            width: 100%;
            height: auto;
        }

        ul {
            display: block;
            display: flex;
            padding: 0;
            margin: 20px;

            li {
                display: inline;
                flex-basis: 50%;

                a {
                    color: $navColor; 
                    font-weight: bold;

                    &:hover {
                        color: lighten($navColor, 15%);
                        text-decoration: underline;
                    }
                }
            }
        }      
        

        .userLogin {
            background-color: black;
        }
    }    
    
    
    .input-group {
        margin-bottom: 15px;
    }
    
    .inputLogin {
        margin-bottom: 5px;       
    }
    
    main {
    margin: 25px auto;
    width: 80%;
    padding: 20px;
    background: $bgColorMain;
    border-radius: 5px;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    
    a {
        width: 100%; 
        margin: 5px 0px;
        color: $baseColor;
        opacity: .7;
        transition: opacity .5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -webkit-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out;
        
        &:hover {
            text-decoration: none;
            color: $baseColor;
            box-shadow: 1px 1px 5px 5px #eee;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
              transition: all 1s ease;
            opacity: 1;
        }
        
        .articleBox {            
            padding: 30px;
            color: #fff;            
            text-align: center;   
            border-radius: 10px;
            font-weight: bold;
            
            .fa {
                font-size: 2.5em;
            }
        }
        
        
        
        .box1 {
            background: #d7944d;
        }
        
        .box2 {
            background: #77d1ef;
        }

        .box3 {
            background: #4d8ea3;
        }
        
        .box4 {
            background: #ffa84d;
        }

        article {
            padding: 10px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
}

@media screen and (min-width: 768px) {
    body {
        background-color: pink;
    }
    
    main {
        margin: 25px auto;
        width: 80%;
        padding: 20px;
        background: $bgColorMain;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 1400px;

        a {
            width: 23%; 
            margin: 5px 0px;
            color: $baseColor;
            opacity: .7;
            transition: opacity .5s ease-out;
            -moz-transition: opacity .5s ease-out;
            -webkit-transition: opacity .5s ease-out;
            -o-transition: opacity .5s ease-out;

            &:hover {
                text-decoration: none;
                color: $baseColor;
                box-shadow: 1px 1px 5px 5px #eee;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                  transition: all 1s ease;
                opacity: 1;
            }

            .articleBox {            
                padding: 30px;
                color: #fff;            
                text-align: center;   
                border-radius: 10px;
                font-weight: bold;

                .fa {
                    font-size: 2.5em;
                }
            }



            .box1 {
                background: #d7944d;
            }

            .box2 {
                background: #77d1ef;
            }

            .box3 {
                background: #4d8ea3;
            }

            .box4 {
                background: #ffa84d;
            }

            article {
                padding: 10px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: orange;
    }
    
    main {
        margin: 25px auto;
        width: 80%;
        padding: 20px;
        background: $bgColorMain;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 1400px;

        a {
            width: 23%; 
            margin: 5px 0px;
            color: $baseColor;
            opacity: .7;
            transition: opacity .5s ease-out;
            -moz-transition: opacity .5s ease-out;
            -webkit-transition: opacity .5s ease-out;
            -o-transition: opacity .5s ease-out;

            &:hover {
                text-decoration: none;
                color: $baseColor;
                box-shadow: 1px 1px 5px 5px #eee;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                  transition: all 1s ease;
                opacity: 1;
            }

            .articleBox {            
                padding: 30px;
                color: #fff;            
                text-align: center;   
                border-radius: 10px;
                font-weight: bold;

                .fa {
                    font-size: 2.5em;
                }
            }



            .box1 {
                background: #d7944d;
            }

            .box2 {
                background: #77d1ef;
            }

            .box3 {
                background: #4d8ea3;
            }

            .box4 {
                background: #ffa84d;
            }

            article {
                padding: 10px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}